name: Build

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
    
jobs:  
  build:
    strategy:
      matrix:
        include:
          - os: windows-latest
            runtime: win-x64
          - os: windows-latest
            runtime: win-x86
          - os: ubuntu-latest
            runtime: linux-x64
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4

      - name: Setup dotnet
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '10.0.x'

      - name: Publish
        run: dotnet publish -c Release -r ${{ matrix.runtime }} -p:PublishAot=true -o "${{github.workspace}}/package/dlls"

      - name: Create censor words file
        run: echo "fuck" > ${{github.workspace}}/package/censor_words.dic
      
      - name: Upload
        uses: actions/upload-artifact@v4
        with:
          name: ChatEngine-${{ matrix.runtime }}
          path: |
            ${{github.workspace}}/package/